.location-details {
  font-family: "Work Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
}

.location-header {
  height: 80.6vh;
  background-color: aquamarine;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 25.3rem;
  padding-left: 10rem;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.location-header-title {
  text-align: left;
  line-height: 1.2;
  letter-spacing: -0.93px;
  color: #ffffff;
  padding: 0.8rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.location-title {
  font-size: 3rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
}

.location-address {
  font-size: 1.6rem;
  font-weight: 200;
}
.location-description {
  color: white;
  padding: 1.6rem;
  margin-top: 2rem;
}
.location-description-content {
  font-size: 1.7rem;
  text-align: center;
}

.team-members {
  color: white;
  padding: 1.2rem;
  margin-top: 2rem;
}

.member {
  width: 250px;
  height: 250px;
  list-style-type: none;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 2rem;
}

.member-name {
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  padding: 1.2rem;
  letter-spacing: -0.93px;
  color: #000000;
  background-color:rgb(255, 255, 255);
  border-radius: 1rem;
}
